/.vs
/Server/x64
/Server/.vs
/monster_gewhr/x64
/x64
/monster_gewhr/Model/
/monster_gewhr/Skybox/
/monster_gewhr/Terrain/
/monster_gewhr/Sound/Effect/
/monster_gewhr/Sound/Music/
*.exe 
*.ilk 
*.pdb 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 
*.raw
*.png
*.jpg
*.dds
*.wav
*.tif
*.bin
*.cs
*.obj
*.mp3

